
<h2 class="my-4 text-center text-lg-left">Thank you, we'll get in contact soon!</h2>

<script type="text/javascript">
        setTimeout ( function() {
            window.location.href = "/";},
            3000
        );
</script>