@model Feedback

<h2 class="my-4 text-center text-lg-left">Leave us a Feedback!</h2>

<form asp-controller="Feedback" asp-action="Index" method="post" role="form">
    <!-- To show form error after submission -->
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Name)">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(x => x.Email)">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Message"></label>
        <textarea asp-for="Message" class="form-control" rows="3" placeholder="@Html.DisplayNameFor(x => x.Message)"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input asp-for="ContactMe" type="checkbox" class="form-check-input">
            <label asp-for="ContactMe" class="form-check-label"></label>
        </div>
    </div>

    <button type="submit" class="btn btn-dark">Send Feedback!</button>
</form>