body {
    padding-top: 54px;
    background-image: url('/images/pattern.png');
    background-repeat: repeat;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.portfolio-item {
    margin-bottom: 30px;
}

.pagination {
    margin-bottom: 30px;
}